/*Estilos page-Home*/
.Home{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    background-color: red;
    /*overflow: auto;*/
}
.presentacion{
    display: flex;
    width: 1320px;
    height: 200px;
    margin-left: 13px;
    margin-right: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: 200%;
    animation: movimiento 15s infinite  linear  alternate;
    background-position-x: 0px;
    background-position-y: -100px;
}
.presentacion::after{
    content: '';
    height: 100%;
    width: 100%;
    opacity: 0.5;   
    z-index: 1;
    background-color: rgb(103, 107, 175);
    position: absolute;
}
.presentacion h2{
    color: white;
    z-index: 2;
    font-size: 70px;
    
}
@keyframes movimiento{
    from {
        background-position:  top right;
    }
    to {
        background-position:  bottom left;
    }
}
.container{
    display: flex;
    width: 800px;
    max-height:750px ;
    flex-wrap: nowrap;    
    
}

/*Estilos menu*/
  
.menu{     
    display: flex;
    height: 255px;
    width: 250px;      
    margin-top: 30px;
    padding-right: 10px;  
    margin: 10px;
    background: rgb(34, 196, 55); 
    

  }
  .button{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    padding-left: 10px;
  }
  .button:hover{
    background: rgb(230, 114, 114);
    color: white;
  }
  .menu ul {
    display: flex;    
    flex-direction: column;
    padding-left: 5px;    

  }
  .menu ul li{
    display: flex;
    text-decoration: none;
    list-style: none;
  }