



    App {
        text-align: center;
        font-family: sans-serif;
    }
    
    body{width: 100%;margin: auto;
        background:#dedede;
        position:relative;z-index:0;
        float: left;
        background-image:url(../src/assets/img/04.jpg);
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-position:center;
        background-size:100 auto;
        background:cover;}
    body::-webkit-scrollbar{width:5px;height:40px;background:#22232a}
    body::-webkit-scrollbar-thumb{background:#1abb9c;border-radius:2px}
    
    
    
    