
*{
    margin: 0;
    padding: 0;
  
    
  }
  /*Estilos menu*/
  body{
    background-image: url('../src/assets/img/07.jpg');
    color: #ffff;
    text-align: center;
    text-decoration: none;
  }
  
  .menu{
    width: 1000px;
    margin-top: 300px;
    height: 100px;
    padding: 10px;
    
  
  }
  nav a{
    text-decoration:none;
      color:inherit;
      font-size:14px;
  }
  nav li{
    display:flex;
  
   
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
      background-color:rgb(44, 203, 224);
      color:rgb(233, 233, 233);
      }
  
      nav ul li{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 50px;
      
      }
  
    /*Estilos  cuadro de card*/
  .card{
    margin: 500px;
    width: 360px;
    height: 500px;
    overflow: auto;
    margin-top: -750px;
    border-radius:.5em ;
    margin-bottom: 200px;
    
  }


  .card .imagen{  
      width:500px;
      height: 45%;
      padding-left: 100px;
      border-radius: .5em;
      margin-top: 20%;
      margin-bottom:200px;
      

  }
  
  
 /*estilos de home*/ 
  
  
  .styles{
      display: flex;   
  }


/*Estilos Calendario*/


.card .nombre{
  display: flex;
  padding: 10px;
  width: 500px;
  

  
}

/*Estilos input*/


.file-input{

  display: flex;
  
  height: 500px;
  width: 1000px;

}

input{
  width:450px;
  margin-top:25%;
  border-radius: .5em;
  margin-left: 400px;
  margin-right: 0px;
  height:30px;
    background-color:#fff
}

/*boton agregar*/


.btn-add{
  margin: 200px;
  height: 100px;
  border-radius: .5em;
  background-color: blue;
  color: #000;

}
.imagen{
  background-position: center;
  background-size: cover;
  background-position-x: -80px;
  

} 

.nombre{
display: flex;
justify-content: left;
margin-top: -20px;
width: 300px;
height: 155px;

}